In [5]:
import random

def get_5_students(student_list):
    
    selected_students = random.sample(student_list, 6)
    
    # Remove selected students from the original list
    student_list = [student for student in student_list if student not in selected_students]
    
    # Return the selected students and updated list
    return selected_students, student_list

In [6]:
import pandas as pd

In [7]:
# df = pd.read_csv('2024-10-02T1805_Grades-IE7374.17974.202510.csv')
df = pd.read_csv('2024-09-23T1953_Grades-IE7374.20720.202510.csv')

In [4]:
df.head()

,Student,ID,SIS User ID,SIS Login ID,Section,Project Scoping (2432315),In Class Assignments (2432313),Assignments Current Points,Assignments Final Points,Assignments Current Score,...,Assignments Current Score.1,Assignments Unposted Current Score.1,Assignments Final Score.1,Assignments Unposted Final Score.1,Current Points,Final Points,Current Score,Unposted Current Score,Final Score,Unposted Final Score
0,Points Possible,NaN,NaN,NaN,NaN,100.0,10.0,(read only),(read only),(read only),...,(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only)
1,"Acharya, Mrudula",206440.0,002769383S,002769383S,IE7374 20720 Machine Learning Operations SEC 0...,NaN,NaN,0.00,0.00,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0.00,0.00
2,"Addaganti, Venkata Subbarao Shirish",217259.0,002728162S,002728162S,IE7374 20720 Machine Learning Operations SEC 0...,NaN,NaN,0.00,0.00,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0.00,0.00
3,"Ala, Venkata Nithya",218378.0,002768082S,002768082S,IE7374 20720 Machine Learning Operations SEC 0...,NaN,NaN,0.00,0.00,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0.00,0.00
4,"Alagesan, Aishwariya",273954.0,002818973S,002818973S,IE7374 20720 Machine Learning Operations SEC 0...,NaN,NaN,0.00,0.00,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,0.00,0.00

In [8]:
students = list(df.Student)

In [11]:
selected, updated_list = get_5_students(students)

print("Selected students:", selected)

Selected students: ['Gajjar, Henil', 'Saxena, Samarth', 'Moorthy, Hashwanth', 'Alagesan, Aishwariya', 'Samanta, Risa', 'Gnanasekar, Oviya']